
#footer {
  padding: 40px 20px;
  background-color: #21272A;
  display: flex;
  justify-content: flex-start;
}

#footer {
  i {
  text-decoration: none;
  font-size: 40px;
  color: $gray-light;
  }
  p {
  margin-top: 17px;
  color: $gray-light;
  }
}
