    <div id="footer">
     <div>
      <ul class="list-inline">
        <li><a href="youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li><a href="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      <p>Created @ Jing-An Shanghai</p>
      </div>
    </div>
